---
# Power on ESXi VM and wait for services

- name: "Power on virtual machine {{ host_fact_hostname }}"
  community.vmware.vmware_guest:
    datacenter: "{{ parent_vcenter_datacenter }}"
    folder: "{{ parent_vcenter_datacenter }}/vm/{{ parent_vcenter_folder }}"
    name: "{{ host_fact_hostname }}"
    state: poweredon
  register: power_on_results

- name: Wait for VMware Tools to be running
  community.vmware.vmware_guest_info:
    name: "{{ host_fact_hostname }}"
    datacenter: "{{ parent_vcenter_datacenter }}"
  register: guest_info
  until: guest_info.instance.guest_tools_status == "guestToolsRunning"
  retries: 60
  delay: 5

- name: "Get ESXi VM {{ host_fact_hostname }} IP address"
  community.vmware.vmware_guest_info:
    datacenter: "{{ parent_vcenter_datacenter }}"
    name: "{{ host_fact_hostname }}"
    schema: vsphere
    properties:
      - guest.ipAddress
  register: nested_vm

- name: Add ESXi host to inventory with IP address
  ansible.builtin.add_host:
    name: '{{ host_fact_hostname }}'
    groups: esxi
    NESTEDVMIP: "{{ nested_vm.instance.guest.ipAddress }}"

- name: "Wait for ESXi {{ host_fact_hostname }} ({{ nested_vm.instance.guest.ipAddress }}) to be ready"
  ansible.builtin.wait_for:
    host: "{{ nested_vm.instance.guest.ipAddress }}"
    port: 443
    sleep: 10
    timeout: "{{ nested_esxi_wait_timeout }}"
