---
# Deploy new vCenter VM from OVA

- name: "Deploy vCenter OVA for {{ host_fact_hostname }}"
  community.vmware.vmware_deploy_ovf:
    url: "{{ ova_base_url }}/{{ nested_vcenter_ova_file }}"
    datacenter: "{{ parent_vcenter_datacenter }}"
    name: '{{ host_fact_hostname }}'
    enable_hidden_properties: true
    folder: "{{ parent_vcenter_datacenter }}/vm/{{ parent_vcenter_folder }}"
    datastore: "{{ nested_vcenter_datastore }}"
    disk_provisioning: "{{ nested_vcenter_disk_provisioning }}"
    networks:
      "Network 1": "{{ nested_deployment_network }}"
    validate_certs: false
    inject_ovf_env: true
    properties:
      DeploymentOption.value: "{{ nested_vcenter_deployment_size }}"
      guestinfo.cis.appliance.net.addr.family: 'ipv4'
      guestinfo.cis.appliance.net.mode: "{{ nested_vcenter_network_mode }}"
      guestinfo.cis.appliance.root.passwd: "{{ nested_password }}"
      guestinfo.cis.vmdir.password: "{{ nested_password }}"
      domain: "{{ nested_domain }}"
      guestinfo.cis.appliance.ssh.enabled: "{{ 'True' if nested_vcenter_ssh_enabled else 'False' }}"
      guestinfo.cis.deployment.autoconfig: "{{ 'True' if nested_vcenter_auto_config else 'False' }}"
      guestinfo.cis.appliance.root.shell: "{{ 'True' if nested_vcenter_shell_enabled else 'False' }}"
  register: nested_vm

- name: "Pause while {{ host_fact_hostname }} reboots itself"
  ansible.builtin.pause:
    seconds: "{{ nested_vcenter_initial_pause }}"
