---
# Playbook to remove nested vSphere environment

- name: Prepare dynamic inventory
  hosts: remotedevqe
  gather_facts: false
  tasks:
    - name: Add ESXi hosts to esxi group
      ansible.builtin.add_host:
        name: '{{ item }}'
        groups: esxi
      loop: "{{ nested_esxi_hosts }}"
      when: nested_esxi_hosts is defined and nested_esxi_hosts | length > 0

    - name: Add vCenter hosts to vc group
      ansible.builtin.add_host:
        name: '{{ item }}'
        groups: vc
      loop: "{{ nested_vcenter_hosts }}"
      when: nested_vcenter_hosts is defined and nested_vcenter_hosts | length > 0

  tags: always

- name: Remove nested vSphere environment
  hosts: remotedevqe
  gather_facts: true
  tasks:
    - name: Remove ESXi VMs
      ansible.builtin.include_role:
        name: vsphere_cleanup
      vars:
        vsphere_cleanup_enabled: "{{ removevsphere | default(false) }}"
      loop: "{{ groups['esxi'] }}"
      loop_control:
        loop_var: loop_bms
        index_var: my_idx
      when: groups['esxi'] is defined and groups['esxi'] | length > 0

    - name: Remove vCenter VMs
      ansible.builtin.include_role:
        name: vsphere_cleanup
      vars:
        vsphere_cleanup_enabled: "{{ removevsphere | default(false) }}"
      loop: "{{ groups['vc'] }}"
      loop_control:
        loop_var: loop_bms
        index_var: my_idx
      when: groups['vc'] is defined and groups['vc'] | length > 0

    - name: Manage lifecycle cron jobs
      ansible.builtin.include_role:
        name: lifecycle_management
      when: createcron | default(false) or cleanupcron | default(false)

  tags: ['cleanup', 'remove']
